<!doctype html>
<html lang="pt-br">

<head>
  <%- include('includes/head')%>
  <title>Contato | Agenda - NodeJS</title>
</head>

<body>

  <!--Navbar-->
  <%- include('includes/navbar')%>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center my-3">Criar Contato</h1>
          <p class="text-center lead">Crie seus contatos abaixo ... </p>

          <hr class="my-4">

          <%- include('includes/messages') %>

            <% if(contato._id){%>
              <form action="/contato/edit/<%=contato._id %>" method="POST">
                <%} else{ %>
                  <form action="/contato/register" method="POST">
                    <% }%>
                      <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                      <div class="form-group">
                        <label class="p-2 fw-bold">Nome</label>
                        <input value="<%= contato.nome %>" type="text" class="form-control"
                          placeholder="Digite o nome..." name="nome">
                      </div>
                      <div class="form-group">
                        <label class="p-2 fw-bold">Sobrenome</label>
                        <input value="<%= contato.sobrenome %>" type="text" class="form-control"
                          placeholder="Digite o sobrenome..." name="sobrenome">
                      </div>
                      <div class="form-group">
                        <label class="p-2 fw-bold">Email</label>
                        <input value="<%= contato.email %>" type="text" class="form-control"
                          placeholder="Digite o email..." name="email">
                      </div>
                      <div class="form-group">
                        <label class="p-2 fw-bold">Telefone</label>
                        <input value="<%= contato.telefone %>" type="tel" class="form-control"
                          placeholder="Digite o telefone..." name="telefone">
                      </div>
                      <% if(contato._id){ %>
                        <button type="submit" class="btn btn-primary fw-bold mt-3"><i class="ti ti-device-floppy"></i>
                          Editar</button>
                        <% }else{ %>
                          <button type="submit" class="btn btn-success fw-bold mt-3"><i class="ti ti-checks"></i>
                            Salvar</button>
                          <% } %>
                  </form>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <!--Meu bundle-->
    <script src="./assets/js/bundle.js"></script>
</body>

</html>