<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Agenda</title>
  </head>
  <body>

    <!--Navbar-->
    <%- include('includes/navbar')%>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center my-3">Criar Contato</h1>
          <p class="text-center lead">Crie seus contatos abaixo</p>
          <%- include('includes/messages') %>

          <% if(contato._id){%>
            <form action="/contato/edit/<%=contato._id %>" method="POST">
          <%} else{ %>
            <form action="/contato/register" method="POST">
            <% }%>
              <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="form-group">
                  <label>Nome</label>
                  <input value="<%= contato.nome %>" type="text" class="form-control" placeholder="Digite o nome..." name="nome">
                </div>
                <div class="form-group">
                    <label>Sobrenome</label>
                    <input value="<%= contato.sobrenome %>" type="text" class="form-control" placeholder="Digite o sobrenome..." name="sobrenome">
                </div> 
                <div class="form-group">
                    <label>Email</label>
                    <input value="<%= contato.email %>" type="text" class="form-control" placeholder="Digite o email..." name="email">
                </div>
                <div class="form-group">
                    <label>Telefone</label>
                    <input value="<%= contato.telefone %>" type="tel" class="form-control" placeholder="Digite o telefone..." name="telefone">
                </div>
                    
                <button type="submit" class="btn btn-primary mt-3">Criar conta !</button>
              </form>
        </div>
        <div class="col-lg-2"></div>  
    </div>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <!--Meu bundle-->
    <script src="./assets/js/bundle.js"></script>
  </body>
</html>